extends layout

block content
		h1= title
		<form method="POST" action="/new">
			ul(class="form-fields")
				li
					<label for="author">Author</label>
					input(name="author" id="author")
				li
					<label for="message">Message</label>
					input(name="message" id="message")
				<button>Submit</button>
		</form>
		<a href='/'>Cancel</a>
