extends layout

block content
	- dateOptions = { weekday: "long", year: "numeric", month: "long", day: "numeric" }
		h1= title
		<a href='/new'>New Message</a>
		ul(class="messages")
			each message in messages
				li
					p=message.user
					p=message.text
					p=message.added.toLocaleTimeString(undefined, dateOptions)
