extends layout

block content
	h1= title
	<a href='/new'>New Message</a>
	ul(class="messages")
		each message in messages
			li
				p=message.user
				p=message.text
				<p class='date'>#{message.added}</p>
	script.
		const options = { weekday: "long", year: "numeric", month: "long", day: "numeric" }
		document.querySelectorAll('.date')
			.forEach(date =>
				date.textContent = new Date(date.textContent)
					.toLocaleTimeString(undefined, options)
			)
